{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "@babel/typescript"
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    [
      "module-resolver",
      {
        "extensions": [".ts"],
        "root": ["."],
        "alias": {
          "@": "./src"
        }
      }
    ]
  ],
  "comments": false
}
